// Fuentes
$fuente_principal: "Poppins", sans-serif;
// Tamaño de Media Queries
$telefono: 480px;
$tablet: 800px;
$desktop: 1024px;
// Colores
$azul: #1d294a;
$azul-claro: #3a6984;
$negro: #1a1b15;
$blanco: #ffffff;
$gris: #afafaf;
$coral: coral;
//separacion
$separacion: 5rem;
// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;
